.menu {
   font-weight: 500;
   margin-bottom: 3.8rem;
}

.menu nav {
   margin-bottom: 3.8rem;
}

.menu ul {
   width: 100%;
}

.menu li a {
   display: flex;
   align-items: center;
   padding: .9rem 1.5rem;
   border-radius: 5px;
   margin-bottom: .5rem;
   cursor: pointer;
   transition: .3s linear;
}


.menu li a:hover {
   color: white;
   background-color: #0c4dde;
   transition: .3s linear;
}


.menu li a:hover>svg {
   fill: white;
   transition: .3s linear;
}

.active {
   color: white;
   background-color: #0c4dde;
}

.active svg {
   fill: white !important;
}




.menu svg {
   display: inline-block;
   width: 2rem;
   height: 2rem;
   fill: black;
   margin-right: 1.2rem;
   transition: .3s linear;
}

.menu.dark svg {
   fill: white;
}

.count {
   display: grid;
   place-content: center;
   width: 1.6rem;
   height: 1.6rem;
   border-radius: 50%;
   background: #ff5c5c;
   color: #fff;
   font-size: 1rem;
   margin-left: 0.5rem
}


.menu>span {
   font-weight: 400;
   color: rgba(0, 0, 0, .5);
   display: block;
   margin-bottom: 0.9rem;
   line-height: 1.5;
   transition: .3s linear;
}

.menu.dark>span {
   color: rgba(255, 255, 255, .5)
}