.about {
   padding: 2.5rem 4rem;
}

.about h4 {
   font-weight: 500;
   margin-bottom: 2rem;
   transition: color .3s linear;
}

.about p {
   white-space: pre-line;
   margin-bottom: 2rem;
   color: rgba(0, 0, 0, .7);
   line-height: 1.5;
   transition: color .3s linear;
}

.info {
   display: flex;
   justify-content: start;
   align-items: start;
   gap: 4rem;
}

.map {
   width: 28rem;
   height: 28rem;
   cursor: pointer;
}

.map img {
   max-width: 100%;
}

.info h4 {
   margin-bottom: 0.7rem;
}

.info p {
   margin-bottom: 1.6rem;
}

.info a {
   color: inherit;
}

.website {
   border-bottom: 1px solid #7f7f7f;
   transition: .3s linear;

}


/* ================dark */

.about.dark p {
   color: #fff;
}

.about.dark .website {
   border-bottom: 1px solid rgba(255, 255, 255, .2);
}