.description {
   padding: 2.5rem 4rem;
   transition: color .3s linear;
}

.description h4 {
   font-weight: 500;
   margin-bottom: 2rem;
}

.description p {
   white-space: pre-line;
   line-height: 1.5;
   margin-bottom: 2rem;

}