.nav {
   border-bottom: 1px solid #dee2e6;
   transition: border-bottom .3s linear;
}

.nav ul {
   width: 100%;
   display: flex;
   justify-content: start;
   align-items: start;
}

.nav li a {
   display: inline-block;
   padding: 0 1rem 1rem;
   font-weight: 500;
   margin-right: 2rem;
   color: inherit;
   border-bottom: 3px solid transparent;
   transition: color .3s linear;
}

.nav li a:hover {
   color: #0c4dde;
}


/* ============dark */

.nav.dark {
   border-bottom: 1px solid rgba(255, 255, 255, .2);
}

.nav.dark li a:hover {
   color: inherit;
}