.scrollBar {
   border-left: 1px solid #eaeaea;
   height: 100vh;
   overflow-y: auto;
   transition: border-left .3s linear;
}



.scrollBar::-webkit-scrollbar {
   width: 3px;
}

.scrollBar::-webkit-scrollbar-track {
   background-color: #EAEAEA;
}

.scrollBar::-webkit-scrollbar-thumb {
   background-color: #A9A9A9;
   height: 1rem;
}


/* ========Dark */

.scrollBar.dark {
   border-left: 1px solid rgba(255, 255, 255, .2);
}

.scrollBar.dark::-webkit-scrollbar-track {
   background-color: #242424;
}